.hero{
    min-height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-inline: 20px;
    z-index: 2;
}

.illustration-wrapper{
    width: 100%;
    height: 50vh;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.illustration{
    width: 120%;
    object-position: center;
    object-fit: cover;
    z-index: 2;
}

.blob1{
    top: 0;
    right: 30px;
}

.blob2{
    top: 35vh;
    right: 30px;
}

.hero-text-wrapper{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.lead-text, .lead-paragraph{
    font-size: 20px;
    line-height: 25px;
    z-index: 2;
}

.name{
    font-size: 80px;
    display: flex;
    gap: 20px;
    z-index: 2;
}


.name strong{
    text-shadow: 2px 2px 0 #000000;
    letter-spacing: 1px;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
}

.cta-wrapper{
    width: 100%;
    height: 80px;
    justify-content: flex-start;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-block: 40px;
    position: relative;
}

.cta-wrapper img, .cta-wrapper a{ 
    z-index: 2;
}

.blob3{
    top: -50px;
    left: 100px;
}

@media screen and (min-width: 768px) {
    .illustration{
        width: 100%;
    }

    .illustration-wrapper{
        width: 80%;
    }
        
    .blob1{
        top: 50px;
        right: 30px;
    }
        
    .hero-text-wrapper{
        align-items: center;
        text-align: center;
    }

    .cta-wrapper{
        justify-content: center;
    }

    .lead-paragraph{
        max-width: 50ch;
    }

    
}

@media screen and (min-width: 1366px) {
    .hero{
        flex-flow: row-reverse;
        justify-content: space-between;
    }

    .illustration-wrapper{
        width: 60%;
    }
    
    
    .hero-text-wrapper{
        width: 40%;
        align-items: flex-start;
        text-align: left;
    }

    .cta-wrapper{
        justify-content: flex-start;
    }

    .lead-text, .lead-paragraph{
        font-size: 25px;
        line-height: 30px;
    }
    
    .name{
        font-size: 120px;
    }
    
    .blob1{
        display: none;
    }
    
    .blob2{
        display: none;
    }

}