.navbar{
    padding-inline: 20px;
    height: 80px;
    width: 100vw;
    display: grid;
    place-items: center;
}

.navbar-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 20px;
}

.nav-right-side{
    display: flex;
    align-items: center;
    gap: 30px;
}